* {
  box-sizing: border-box;
}

:root {
  font-size: 10px;
  --background-color: #2ca8b4;
  --outline-color: #3a2e1b;
  --details-color: #fff7d5;
  --fur-color: #ffa621;
  --toque-color: #f428b4;
}

body {
  background-color: var(--background-color);
  color: var(--outline-color);
  font-family: "Lucida Console";
  height: 100vh;
  margin: 0;
  overflow: hidden;
  position: relative;
}

#wrapper {
  display: flex;
  height: 100%;
  justify-content: space-between;
}
